html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: #3E4857;
  font-size: 20px;
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  display: inline-block;
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1121px;
  padding: 0 10px;
  position: relative;
}

@font-face {
  font-family: "Helvetica", sans-serif;
  src: url("../fonts/helvetica/HelveticaRegular.woff2") format("woff2"), url("../fonts/helvetica/HelveticaRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Arial", sans-serif;
  src: url("../fonts/arial/ArialRegular.woff2") format("woff2"), url("../fonts/arial/ArialRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Regular", sans-serif;
  src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/arial/ArialBold.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Arial-Bold", sans-serif;
  src: url("../fonts/arial/ArialBold.woff2") format("woff2"), url("../fonts/arial/ArialBold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
.main {
  padding-top: 137px;
  background: -webkit-gradient(linear, left top, right top, from(#040013), color-stop(54.31%, #42063F), color-stop(99.9%, #3A047D));
  background: -o-linear-gradient(left, #040013 0%, #42063F 54.31%, #3A047D 99.9%);
  background: linear-gradient(90deg, #040013 0%, #42063F 54.31%, #3A047D 99.9%);
}
.main__title {
  font-family: "Arial-Bold", sans-serif;
  font-weight: 700;
  font-size: 53px;
  line-height: 61px;
  color: #FFFFFF;
}
.main__subtitle {
  max-width: 371px;
  width: 100%;
  color: #FFF;
  font-size: 17px;
  line-height: 26px;
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  padding-top: 15px;
}
.main__link {
  margin-top: 21px;
  max-width: 213px;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background: #67AC5B;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 137px;
}
.main__link:hover {
  color: #FFFFFF;
}
.main__img {
  display: block;
  position: absolute;
  max-width: 837px;
  width: 100%;
  height: auto;
  right: -58px;
  top: -32px;
}

.why {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 38px;
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
}
.why p {
  text-align: center;
}
.why__title {
  font-family: "Arial-Bold", sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
  text-align: center;
}
.why__item {
  text-align: center;
  padding-top: 42px;
}
.why__item-text {
  font-size: 17px;
  padding-top: 20px;
}
.why__item-subtitle {
  padding-top: 66px;
}

.qrcode {
  background: #E5E5E5;
  padding-top: 24px;
  padding-bottom: 34px;
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
}
.qrcode__item + .qrcode__item {
  padding-left: 47px;
}
.qrcode__item img {
  display: block;
  margin: 0 auto;
}
.qrcode__item-title {
  padding-top: 29px;
  font-size: 25px;
  font-family: "Arial-Bold", sans-serif;
  font-weight: 700;
}
.qrcode__item-text {
  padding-top: 20px;
}

.how {
  padding-top: 40px;
  padding-bottom: 80px;
}
.how__item-title {
  font-size: 25px;
  font-family: "Arial-Bold", sans-serif;
  font-weight: 700;
  line-height: 39px;
  padding-top: 25px;
}
.how__item-text {
  padding-top: 20px;
}
.how__title {
  font-size: 25px;
  font-family: "Arial-Bold", sans-serif;
  font-weight: 700;
  line-height: 39px;
  padding-top: 88px;
  text-align: center;
}
.how__content {
  padding-top: 20px;
  padding-bottom: 100px;
  text-align: center;
}
.how__questions-title {
  text-align: center;
  font-weight: 700;
  font-family: "Arial-Bold", sans-serif;
  font-size: 25px;
  line-height: 39px;
  padding-bottom: 60px;
}

.how__qustions {
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

.accordion-item {
  text-align: left;
}

.accordion-header {
  font-size: 20px;
}

.accordion-button {
  padding-left: 0;
  color: #3E4857;
}
.accordion-button::after {
  background-image: url(../img/how/angle.svg);
  background-size: 60%;
  background-position: center center;
  width: 1.2rem;
  height: 0.8rem;
}

.accordion-button:not(.collapsed) {
  color: #D63864;
  background-color: #FFF;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.13);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.13);
}
.accordion-button:not(.collapsed)::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../img/how/angle.svg);
}

.accordion-button.collapsed {
  color: #3E4857;
}

.accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-button::after {
  color: #000000;
}

.accordion-body {
  font-size: 18px;
  padding: 25px 54px 60px 0px;
}

.accordion:nth-child(even) {
  padding-left: 33px;
}

.accordion {
  display: inline-block;
}

@media (max-width: 1060px) {
  .main__img {
    position: relative;
  }

  .main__inner {
    margin-right: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }

  .main__subtitle {
    max-width: 100%;
  }

  .main__link {
    margin-top: 20px;
    margin: 50px auto 80px;
  }

  .main__img {
    top: 0;
    right: 0;
  }
}
@media (max-width: 992px) {
  .qrcode__item + .qrcode__item {
    padding-left: 0;
  }

  .accordion:nth-child(even) {
    padding-left: 0px;
  }

  .row {
    --bs-gutter-x: 0rem;
  }

  .qrcode__item-title {
    text-align: center;
  }

  .how__item-title {
    text-align: center;
  }

  .main__title {
    font-size: 26px;
    line-height: 40px;
    padding-bottom: 20px;
  }
}
@media (max-width: 500px) {
  body {
    font-size: 14px;
  }

  .why__item-text {
    font-size: 14px;
  }

  .why__title {
    font-size: 16px;
  }

  .qrcode__item-title {
    font-size: 16px;
    text-align: center;
  }

  .how__item-title {
    font-size: 16px;
    line-height: 24px;
  }

  .how__title {
    padding-top: 40px;
    font-size: 16px;
    line-height: 24px;
  }

  .how__content {
    padding-bottom: 40px;
  }

  .how__questions-title {
    font-size: 16px;
    padding-bottom: 30px;
  }
}