@font-face {
  font-family: "Helvetica", sans-serif;
  src: url("../fonts/helvetica/HelveticaRegular.woff2") format("woff2"),
    url("../fonts/helvetica/HelveticaRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Arial", sans-serif;
  src: url("../fonts/arial/ArialRegular.woff2") format("woff2"),
    url("../fonts/arial/ArialRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Regular", sans-serif;
  src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/arial/ArialBold.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Arial-Bold", sans-serif;
  src: url("../fonts/arial/ArialBold.woff2") format("woff2"),
    url("../fonts/arial/ArialBold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
