html {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  color: $text;
  font-size: 20px;
  @include h400;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  display: inline-block;
  cursor: pointer;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  max-width: 1121px;
  padding: 0 10px;
  position: relative;
}