
@media (max-width: 1060px){
   .main__img {
       position: relative;
   }
  
   .main__inner {
       margin-right: 40px;
      display: flex;
      flex-direction: column;
       margin: 0 auto;
       text-align: center;
   }
   .main__subtitle {
       max-width: 100%;
   }
   .main__link {
       margin-top: 20px;
       margin: 50px auto 80px;
   }
   .main__img {
       top:0;
       right: 0;
   }
}
@media (max-width: 992px) {
    .qrcode__item {
        & + & {
            padding-left: 0;
        }
    }
    .accordion:nth-child(even) {
        padding-left: 0px ;
    }
    .row {
        --bs-gutter-x: 0rem;
    }
    .qrcode__item-title {
        text-align: center;
    }
    .how__item-title {
        text-align: center;
    }
    .main__title {
        font-size: 26px;
        line-height: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 14px;
    }
    .why__item-text {
        font-size: 14px;
    }
    .why__title {
        font-size: 16px;
    }
    .qrcode__item-title {
        font-size: 16px;
        text-align: center;
    }
    .how__item-title {
        font-size: 16px;
        line-height: 24px;
    }
    .how__title {
        padding-top: 40px;
        font-size: 16px;
        line-height: 24px;
    }
    .how__content {
        padding-bottom: 40px;
    }
    .how__questions-title  {
        font-size: 16px;
        padding-bottom: 30px;
    }
}
