
$text: #3E4857;

@mixin h400 {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
}
@mixin a400 {
  font-family: "Arial", sans-serif;
  font-weight: 400;
}
@mixin r400 {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}
@mixin a700 {
  font-family: "Arial-Bold", sans-serif;
  font-weight: 700;
}
@mixin title {
  font-weight: 700;
  font-family: "Arial-Bold", sans-serif;
  font-size: 25px;
  line-height: 39px;
}