@import "vars";
@import "global";
@import "fonts";

.main {
    padding-top: 137px;
    // padding-bottom: 136px;
    background: linear-gradient(90deg, #040013 0%, #42063F 54.31%, #3A047D 99.9%);
   
    &__title {
        @include a700;
        font-size: 53px;
        line-height: 61px;
        color: #FFFFFF;
    }
    &__subtitle {
        max-width: 371px;
        width: 100%;
        color: #FFF;
        font-size: 17px;
        line-height: 26px;
        @include h400;
        padding-top: 15px;
    }
    &__link {
        margin-top: 21px;
        max-width: 213px;
        width: 100%;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background: #67AC5B;
        border-radius: 4px;
        color: #FFFFFF;
        @include r400;
        font-size: 16px;
        margin-bottom: 137px;
        &:hover {
            color: #FFFFFF;
        }
    }
    &__img {
        display: block;
        position: absolute;
        max-width: 837px;
        width: 100%;
        height: auto;
        right: -58px;
        top: -32px;
       
    }
}
.why {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 38px;
   @include h400;
   p {
       text-align: center;
   }
   &__title {
       @include a700;
       padding-bottom: 20px;
       text-align: center;
   }
  &__item {
      text-align: center;
      padding-top: 42px;
      &-text {
          font-size: 17px;
          padding-top: 20px;
      }
      &-subtitle {
          padding-top: 66px;
      }
  }
}
.qrcode {
    background: #E5E5E5;
    padding-top: 24px;
    padding-bottom: 34px;
    @include h400;
    &__item {
        & + & {
            padding-left: 47px;
        }
        img {
            display: block;
            margin: 0 auto;
        }
        &-title {
         padding-top: 29px;
         font-size: 25px;
         @include a700;   
        }
        &-text {
            padding-top: 20px;
        }
    }
}
.how {
    padding-top: 40px;
    padding-bottom: 80px;
    &__item-title {
        font-size: 25px;
        @include a700;
        line-height: 39px;
        padding-top: 25px;
    }
    &__item-text {
        padding-top: 20px;
    }
    &__title {
        font-size: 25px;
        @include a700;
        line-height: 39px;
        padding-top: 88px;
        text-align: center;
    }
    &__content {
        padding-top: 20px;
        padding-bottom: 100px;
        text-align: center;
    }
    &__questions {
    &-title {
        text-align: center;
        @include title;
        padding-bottom: 60px;
     }
    }
}
.how__qustions {
    @include a400;
}

.accordion-item  {
    text-align: left;
}
.accordion-header {
    font-size: 20px;
}
.accordion-button {
    padding-left: 0;
    color: $text;
    &::after {
        background-image: url(../img/how/angle.svg);
        background-size: 60%;
        background-position: center center;
        width: 1.2rem;
        height: 0.8rem;
    }
}

.accordion-button:not(.collapsed) {
    color: #D63864;
    background-color: #FFF;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    &::after {
        transform: rotate(180deg);
    }
}
.accordion-button:not(.collapsed)::after {
   background-image: url(../img/how/angle.svg);
   
}
.accordion-button.collapsed {
    color: $text;
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-button::after {
  color: #000000;
}
.accordion-body {
    font-size: 18px;
    padding: 25px 54px 60px 0px
}
 .accordion:nth-child(even) {
   padding-left: 33px;
}
.accordion{
    display: inline-block;
}

// respons
@import "media";
